/* CSS declarations go here */

@import url(//fonts.googleapis.com/css?family=Montserrat:700);
@import url(//fonts.googleapis.com/css?family=Inconsolata:400,700);

html,body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

html {
  font: 16px/1.5 Inconsolata, sans-serif;
}

body {
  margin: 2em;
}

h1, h2, h3, h4 {
  font-family: Montserrat, sans-serif;
  margin: 0 0 0.5rem -0.1rem /* align left edge */;
  line-height: 1;
  color: #111;
  text-rendering: optimizeLegibility;
}

h1 {
  border-bottom: 1px solid #333;
  padding-bottom: .5em;
  padding-right: 1em;
}

ol {
  counter-reset: my-badass-counter -1;
  list-style: none;
  padding-left: 0;
}

ol li:before {
  content: counter(my-badass-counter) '.';
  counter-increment: my-badass-counter;
  color: #666;
  padding-right: .25em;
}

.entry {
  overflow: hidden;
  background: #f5f5f5;
  border: 1px solid #ccc;
  margin-bottom: 2px;
  padding: 10px;
}

.entry-date {
  font-size: 70%;
}

.entry-title {
  font-weight: bold;
}

#client .entry {
  padding-right: 2em;
  clear: right;
}

#server .entry {
  padding-left: 2em;
  clear: left;
}

.box {
  border: 1px solid #666;
  padding-left: 1em;
  margin: 1em;
  position: fixed;
  right: 10px;
  z-index: 100;
  background: white;
}
